.page-wrapper { }
#hd { padding-bottom: 6px; }
#bd { padding-bottom: 25px; }
#ft { }
.url {
    border: 1px dotted LightGrey;
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    background-color: SeaShell;
}
.url .domain { font-weight: bold; }
.logo-head { margin-left: -28px; }
.detail-title {
    color: DarkRed;
    font-family: Helvetica;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
.embed-wrap {
    margin-top: 28px;
}

.embed-wrap object { display: block; margin-left: auto; margin-right: auto; }

.link-wrap { padding-left: 15px; padding-right: 15px; }

.transcript {
    border: 1px dashed black;
    color: #111111;
    font-family: Courier;
    font-size: 92%;
    margin-top: 28px;
    padding: 11px;
    position: relative;
}

.transcript h2 {
    background-color: white;
    display: block;
    font-weight: bold;
    left: 1em;
    top: -0.6em;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
}

